<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="kafvam.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="KafVam"
            class="kafvam.rcp.perspective.KafVam"
            id="KafVam">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="kafvam.rcp.view.BrokerDetails"
            icon="icons/kafka.png"
            id="KafVam.brokerdetails"
            name="BrokerDetails">
      </view>
      <view
            class="kafvam.rcp.view.LogConsole"
            id="KafVam.logconsole"
            name="LogConsole">
      </view>
      <view
            class="kafvam.rcp.view.Topic"
            icon="icons/kafka.png"
            id="KafVam.topic"
            name="Topic"
            restorable="true">
      </view>
      <view
            class="kafvam.rcp.view.TopicMessages"
            icon="icons/kafka.png"
            id="KafVam.topicmessages"
            name="TopicMessages"
            restorable="true">
      </view>
      <view
            class="kafvam.rcp.view.TopicMetrics"
            icon="icons/kafka.png"
            id="KafVam.topicmetrics"
            name="Metrics"
            restorable="true">
      </view>
      <view
            class="kafvam.rcp.view.TopicDetailsPartition"
            icon="icons/kafka.png"
            id="KafVam.topicdetailspartition"
            name="TopicDetailsPartition"
            restorable="true">
      </view>
      <view
            class="kafvam.rcp.view.TopicDetailsPoll"
            id="KafVam.topicdetailspoll"
            name="TopicDetailsPoll"
            restorable="true">
      </view>
      <view
            class="kafvam.rcp.view.ControlPanel"
            icon="icons/kafka.png"
            id="KafVam.controlpanel"
            name="ControlPanel"
            restorable="true">
      </view>
      <view
            class="kafvam.rcp.view.ConsumerGroupMetrics"
            id="KafVam.cgmetrics"
            name="ConsumerGroupMetrics"
            restorable="true">
      </view>
   </extension>
       <extension point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="kafvam.rcp.common.CustomSplashHandler"
            id="splash.slideshow">
      </splashHandler>
      <splashHandlerProductBinding
            productId="KafVam.product"
            splashId="splash.slideshow">
      </splashHandlerProductBinding>
   </extension>
   
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="KafVam.application"
            name="KafVam">
         <property
               name="appName"
               value="KafVam">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="kafvam.rcp.handler.HandlerBrokerDetails"
            commandId="hd.brkr.details">
      </handler>
      <handler
            class="kafvam.rcp.handler.HanderTopicViewer"
            commandId="hd.tp.viewer">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="hd.tp.viewer"
            name="CmdViewerDetails">
      </command>
      <command
            id="hd.brkr.details"
            name="CmdBrokerDetails">
      </command>
   </extension>

</plugin>
